@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.eot');
    src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans-Regular.woff') format('woff'),
        url('fonts/OpenSans-Regular.ttf') format('truetype'),
        url('fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-SemiBold.eot');
    src: url('fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('fonts/OpenSans-SemiBold.woff') format('woff'),
        url('fonts/OpenSans-SemiBold.ttf') format('truetype'),
        url('fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Light.eot');
    src: url('fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Light.woff2') format('woff2'),
        url('fonts/OpenSans-Light.woff') format('woff'),
        url('fonts/OpenSans-Light.ttf') format('truetype'),
        url('fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.eot');
    src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/OpenSans-Bold.woff') format('woff'),
        url('fonts/OpenSans-Bold.ttf') format('truetype'),
        url('fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-family: 'Open Sans', 'Arial', 'Verdana', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FAFAFA;
}

h2 {
    font-family: 'Open Sans', 'Arial', 'Verdana', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    color: #262C3D;
}

h3 {
    font-family: 'Open Sans', 'Arial', 'Verdana', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #262C3D;
}

h4 {
    font-family: 'Open Sans', 'Arial', 'Verdana', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #262C3D;
}

p {
    font-family: 'Open Sans', 'Arial', 'Verdana', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #262C3D;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', 'Arial', 'Verdana', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #262C3D;
}

li {
    list-style: none;
    font-family: 'Open Sans', 'Arial', 'Verdana', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #262C3D;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 25px;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-- Slick --*/

.slick-arrow {
    display: block;
    width: 34px;
    height: 34px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    opacity: .6;
    background: #fff;
    border: 1px solid #999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow:hover {
    opacity: 1;
}

.slick-prev {
    background-image: url(img/left_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    left: 5px;
}

.slick-next {
    background-image: url(img/right_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 5px;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 4px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: transparent;
    position: relative;
    border: 2px solid #006df0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background: #006df0;
}

/*-- /Slick --*/

/*-- Breadcrumbs --*/

/*.breadcrumbs_wrapp {
    padding: 40px 0 20px 0;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
}

.breadcrumbs li:after {
    position: relative;
    top: -2px;
    left: 5px;
    content: "\2192";
    font-size: 13px;
    line-height: 23px;
    color: #333333;
}

.breadcrumbs li:last-child:after {
    display: none;
}

.breadcrumbs li a {
    border-bottom: 1px solid transparent;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.breadcrumbs li a:link,
.breadcrumbs li a:visited {
    border-bottom: 1px solid transparent;
}

.breadcrumbs li a:active,
.breadcrumbs li a.active {
    border-bottom: 1px solid #333333;
}

.breadcrumbs li a:hover {
    border-bottom: 1px solid #333333;
}

.breadcrumbs li:last-child a {
    pointer-events: none;
    cursor: default;
    opacity: .6;
    border-bottom: 1px solid transparent;
}*/

/*-- /Breadcrumbs --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header_top {
    background: #262C3D;
}

.header_top_row {
    display: flex;
    display: -webkit-flex;
    padding: 2px 0 0 0;
}

.header_top_row > .left {
    width: 29%;
    padding: 5px 5px 5px 0;
}

.header_top_row > .center {
    width: 26%;
    padding: 5px 5px 5px 5px;
}

.header_top_row > .right {
    width: 45%;
    padding: 5px 0 5px 5px;
}

.adress {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 5px 0;
    font-size: 14px;
    line-height: 19px;
    color: #FFF;
}

.pin {
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-image: url(img/pin.svg);
    background-repeat: no-repeat;
}

.adress .pin {
    margin-right: 8px;
}

.soc_list {
    display: flex;
    display: -webkit-flex;
}

.soc_list li {
    padding: 5px;
}

.soc_list li a {
    display: block;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.soc_list li a:link {
    box-shadow: none;
}

.soc_list li a:active,
.soc_list li a.active {
    -webkit-box-shadow: 0 3px 10px 0 rgba(255,255,255,.7);
    -moz-box-shadow: 0 3px 10px 0 rgba(255,255,255,.7);
    box-shadow: 0 3px 10px 0 rgba(255,255,255,.7);
}

.soc_list li a:hover {
    -webkit-box-shadow: 0 3px 10px 0 rgba(255,255,255,.7);
    -moz-box-shadow: 0 3px 10px 0 rgba(255,255,255,.7);
    box-shadow: 0 3px 10px 0 rgba(255,255,255,.7);
}

.soc_list li a img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.inlines {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    margin: 0 -12px;
}

.inlines > div {
    padding: 5px 12px;
}

.link {
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
}

.link svg {
    margin-right: 10px;
}

.link:hover svg path {
    stroke: #fff;
    -webkit-transition-property: stroke;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: stroke;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: stroke;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: stroke;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: stroke;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.link:hover svg path {
    stroke: #FFBC57;
}

.link span {
    font-size: 14px;
    line-height: 19px;
    color: #FFF;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.link:link span {
    color: #FFF;
}

.link:active span,
.link.active span {
    color: #FFBC57;
}

.link:hover span {
    color: #FFBC57;
}

.orange_link {
    border-bottom: 1px solid transparent;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background: linear-gradient(180deg, #FFBC57 0%, #FFBC57 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-transition-property: border-bottom;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border-bottom;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border-bottom;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border-bottom;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border-bottom;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.orange_link:link {
    border-bottom: 1px solid transparent;
}

.orange_link:active,
.orange_link.active {
    border-bottom: 1px solid #FFBC57;
}

.orange_link:hover {
    border-bottom: 1px solid #FFBC57;
}

.header_nav {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.header_nav > .left {
    width: 115px;
    padding: 4px 0;
}

.header_nav > .right {
    width: calc(100% - 115px);
    padding: 4px 0;
}

.logo {
    display: inline-block;
    vertical-align: top;
}

.logo img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.main_nav {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    min-width: 100%;
    margin: 0 -10px;    
}

.main_nav li {
    padding: 5px 10px;
}

.main_nav li a {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 22px;
    color: #262C3D;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main_nav li a:link,
.main_nav li a:visited {
    color: #262C3D;
}

.main_nav li a.active {
    font-weight: 600;
    color: #7F43E3;
}

.main_nav li a:active,
.main_nav li a:hover {
    color: #7F43E3;
}

/* ----- Responsive Menu Button ------ */

.respmenubtn {
    /*display: inline-block;*/
    display: none;
    vertical-align: top;
    width: 45px;
    height: 37px;
    background: transparent;
    cursor: pointer;
    position: relative;
    top: 6px;
    z-index: 11;
    border: 1px solid transparent;
}

.respmenubtn span {
    display: block;
    width: 27px;
    height: 2px;
    background: #466896;
    margin: 0 auto 7px auto;
    -webkit-transition-property: transform, border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0 auto;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    background: #e9ba5f;
}

.respmenubtn.active span {
    position: relative;
    width: 35px;
    top: 2px;
    left: 0;
    background: #e9ba5f;
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 0;
    position: relative;
    top: 4px;
    left: 5px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Main Page --*/

.sect_1_mp {
    padding-bottom: 5px;
}

.promo_box_wrapp {
    margin-top: 15px;
    padding: 16px 50px 7px 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    background-image: url(img/promo.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.promo_box_wrapp:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0, rgba(127, 67, 227, 0.5) 0%, rgba(255, 255, 255, 0) 74.71%);
    background: -webkit-linear-gradient(0, rgba(127, 67, 227, 0.5) 0%, rgba(255, 255, 255, 0) 74.71%);
    position: absolute;
    top: 0;
    left: 0;
}

.promo_descript {
    width: 780px;
    position: relative;
    z-index: 2;
}

.promo_descript h1 {
    padding: 2px 0;
}

.promo_descript h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: .05em;
    color: #FFF;
    opacity: .7;
}

.promo_descript p.p_small {
    padding: 10px 0 3px 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #FAFAFA;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.sect_2_mp {
    padding: 4px 0;
}

.slider {
    margin: 0 -5px;
}

.slide {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    height: 250px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.slide img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.slide_contant {
    width: calc(100% - 8px);
    margin: 4px;
    padding: 8px 17px 5px 17px;
    background: #FFF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    position: relative;
    top: 100%;
    z-index: 2;
    -webkit-transition-property: top;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: top;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: top;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: top;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: top;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slide:hover .slide_contant {
    top: 0;
}

.slide_contant .play_btn {
    position: absolute;
    bottom: calc(100% + 4px);
    right: 4px;
    fill: #fff;
    -webkit-transition-property: fill;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: fill;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: fill;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: fill;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: fill;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slide:link .slide_contant .play_btn,
.slide:visited .slide_contant .play_btn {
    fill: #fff;
}

.slide.active .slide_contant .play_btn,
.slide:active .slide_contant .play_btn {
    fill: #FFBC57;
}

.slide:hover .slide_contant .play_btn {
    fill: #FFBC57;
}

.slide_contant_title h3 {
    font-size: 13px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000;
}

.slide_contant_title .date {
    font-size: 9px;
    line-height: 13px;
    color: #717171;
}

.slide_contant_descript {
    padding: 5px 0;
}

.slide_contant_descript p {
    font-weight: 300;
    font-size: 10px;
    line-height: 120%;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/
/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.h2_wrapp h2 span {
    font-size: 24px;
}

.thumbnails {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 27px -4px 78px -4px;
}

.thumbnail {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    text-align: center;
    -webkit-text-align: center;
    width: calc(12.5% - 8px);
    min-height: 153px;
    padding: 15px;
    background: #F2F3F7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 4px;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumbnail:link,
.thumbnail:visited {
    background: #F2F3F7;
}

.thumbnail.active,
.thumbnail:active {
    background: #7F43E3;
}

.thumbnail:hover {
    background: #7F43E3;
}

.thumbnail p {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #2A2A2A;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumbnail:link p,
.thumbnail:visited p {
    color: #2A2A2A;
}

.thumbnail.active p,
.thumbnail:active p {
    color: #fff;
}

.thumbnail:hover p {
    color: #fff;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.sect_5_mp {
    padding: 55px 0 40px 0;
    background-image: url(img/sect_5_mp_bg.jpg);
    background-size: cover;
    background-position: center;
}

.h2_wrapp_2 h2 {
    font-size: 24px;
    line-height: 33px;
}

.tags {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 23px -8px;
}

.tag {
    margin: 4px 8px;
    padding: 4px 11px;
    background: #F2F3F7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tag:link,
.tag:visited {
    background: #F2F3F7;
}

.tag.active,
.tag:active {
    background: #7F43E3;
}

.tag:hover {
    background: #7F43E3;
}

.tag p {
    font-size: 18px;
    line-height: 32px;
    color: #262C3D;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tag:link p,
.tag:visited p {
    color: #262C3D;
}

.tag.active p,
.tag:active p {
    color: #fff;
}

.tag:hover p {
    color: #fff;
}

/*-- /Section 5 - Main Page --*/



/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    padding: 1px 0;
}